default-tab=about

display-completeness=true
display-classifications=true
display-authorities=true
display-pareto=false
display-history=false
display-timeline=false

# TODO: rename
showAdvancedSearchForm=true

# TODO: which of these is needed?
catalogue=k10plus_pica_grouped
#catalogue=qa-catalogue
dirName=qa-catalogue
indexName=qa-catalogue

mainSolrEndpoint=http://qa-catalogue-solr:8983/solr/
